<%- include('header2') -%>
<%- include('navbar', {active: 'seller'}) -%>


    
            </div>   
        </div>
    </section>

    <div class="container-fluid">
        <div class="container-fluid-wrapper">

        <section id="add-product-form">
            <!-- <div class="container-fluid">
                <div class="container-fluid-wrapper"> -->

                    <h1 class="form-title">Add / Edit Seller</h1>

                    <form class="product-form">
                        <div class="mb-3">
                        <input type="text" class="form-control" id="seller-firstname" placeholder="First name" required>
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control" id="seller-lastname" placeholder="Last name" required>
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control" id="seller-mobile" placeholder="Mobile number" required>
                        </div>
                        <button type="submit" class="btn btn-lg btn-dark save-seller-btn">Save</button>
                    </form>
        </section>
        </div>   
    </div>

    
    <%- include('footer') -%>
