<%- include('header') -%>
<%- include('navbar', {active: 'home'}) -%>
    
  
        <div class="row">
          <div class="col-lg-6 col-md-12 main-title-box">
            <h1>Welcome! <br> Let's make the best deal.</h1>
            <a href="/seller" class="btn btn-lg btn-dark title-section-btn"><i class="fa-solid fa-user"></i> Sellers</a>
            <a href="/product" class="btn btn-lg btn-outline-light title-section-btn"><i class="fa-solid fa-cart-shopping"></i> Products</a>
          </div>
        
          <div class="col-lg-6 col-12">
            <img src="/images/title-img.jpg" alt="" class="title-img">
          </div>
        </div>
        

      </div>
      
    </div>

  </section>

    <!-- Features -->

    <section id="features">

      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-4 col-md-12 feature-item">
            <i class="fa-solid fa-circle-check fa-4x feature-icon"></i>
            <h3>Easy to use</h3>
            <p>So easy to use, anyone can do it.</p>
          </div>
      
          <div class="col-lg-4 col-md-12 feature-item">
            <i class="fa-solid fa-money-bill-transfer fa-4x feature-icon"></i>
            <h3>Money-back guarantee</h3>
            <p>If, for any reason, you are not happy with the product, we offer a 15-day money-back guarantee.</p>
          </div>
      
          <div class="col-lg-4 col-md-12 feature-item">
            <i class="fa-solid fa-truck-fast fa-4x feature-icon"></i>
            <h3>Free shipping</h3>
            <p>We offer free shipping on orders over $100.</p>
          </div>
        </div>
      </div>

    </section>

    <section id="product-categories">
      <h1 class="category-title">See the product categories...</h1>
        <div class=" row">
          <div class="card col-lg-3 col-md-6 category-col">
            <img src="/images/clothes.jpg" class="card-img-top category-img" alt="...">
            <div class="card-body">
              <a href="/product" class="btn btn-lg btn-block btn-category">Clothes</a>
            </div>
          </div>
  
          <div class="card col-lg-3 col-md-6 category-col">
            <img src="images/electr.jpg" class="card-img-top category-img" alt="...">
            <div class="card-body">
              <a href="/product" class="btn btn-lg btn-block btn-category">Electronics</a>
            </div>
          </div>
  
          <div class="card col-lg-3 col-md-6 category-col">
            <img src="images/books.jpg" class="card-img-top category-img" alt="...">
            <div class="card-body">
              <a href="/product" class="btn btn-lg btn-block btn-category">Books</a>
            </div>
          </div>
  
          <div class="card col-lg-3 col-md-6 category-col">
            <img src="images/furniture.jpg" class="card-img-top category-img" alt="...">
            <div class="card-body">
              <a href="/product" class="btn btn-lg btn-block btn-category">Furniture</a>
            </div>
          </div>

        </div>
       
    </section>

    <section id="testimonials">
      <div id="testimonial-carousel" class="carousel slide" data-bs-ride="false">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <h4>I love that I can earn money with selling my old items here.</h4>
            <img src="images/testimonial-img5.jpg" class="testimonial-img" alt="...">
            <em>Tomi, Budapest</em>
          </div>
          <div class="carousel-item">
            <h4>
              I always come to this website first when I want to buy something new.</h4>
            <img src="images/testimonial-img4.jpg" class="testimonial-img" alt="...">
            <em>Lili, London</em>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#testimonial-carousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#testimonial-carousel" data-bs-slide="next">
          <span class="carousel-control-next-icon"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>   
  </section>
  <%- include('footer') -%>
  


    


