<%- include('header') -%>
<%- include('navbar') -%>


<section id="product-details">
    <div class="container-fluid">
        <div class="container-fluid-wrapper">
            <div class="row product-name">
                <h2>IKEA Table</h2><br>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-12 col-product-description">
                    <p style="color: #242424;">
                        The sturdy metal construction with criss-crossed legs gives 
                        this table a modern look that goes just as well in the kitchen as in the living room. 
                        A practical choice for those who live in a small space. <br>
                    </p>

                    <p style="color: #242424;">
                        Small, neat dimensions make the table easy to furnish with, even when space is limited.
                        A round table, with soft edges, gives a relaxed impression in a room.
                        The matte surface has outstanding anti-fingerprint and water-repellent qualities.
                        The powder-coated steel frame is both sturdy and durable.
                    </p>

                    <p style="color: #242424;">
                        Diameter: 105cm <br>
                        Height: 75cm
                    </p>

                    <div class="buy-product-btn">
                        <a href="#" class="btn btn-lg btn-light btn-outline-dark add-cart-btn"><i class="fa-solid fa-cart-shopping"></i> Add to cart</a>
                        <a href="products.html" class="btn btn-lg btn-dark back-to-products-btn"><i class="fa-solid fa-arrow-left"></i> Back</a>
                    </div>
                </div>

                <div class="col-lg-6 col-md-12 col-product-img">
                    <img src="../static/images/ikea-table.PNG" alt="Product Image" class="product-img">
                </div>
            </div>
        </div>
    </div>

</section>
<%- include('footer') -%>
